<section class="success" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Apaixonado por solucionar problemas, conhecer novas tecnologias e devenvolve-las utilizando criatividade e conceitos novos. Minhas linguagens favoritas são com certeza JAVA e Ruby para WEB e no desenvolvimento mobile apenas Android puro(Até o momento).</p>
                </div>
              <div class="col-lg-8 col-lg-offset-2">
                    <p>Em Java, desenvolvi sistemas com Servlet, JSF e JSP como Frameworks WEB. Com Hibernate e JPA para persistência de dados. CSS, Bootstrap, Fundation, JavaScript, PrimeFaces e RichFaces para estilização de páginas. Utilizando Jboss, Weblogic e WebSphere como servidores de aplicação. </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <p>Buscando conhecer novas tecnologias e Frameworks resolvi montar um Blog com conteudo que vou aprendendo com o tempo para acessar basta apenas clicar no link abaixo. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-warning">
                        <i class="fa fa-hand-o-right"></i> Acessar Blog
                    </a>
                </div>
            </div>
        </div>
    </section>