
 <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name">Jhonny Willyans</span>
                        <hr class="icon-header">
                        <span class="skills">Web and Mobile Developer  </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<%= render 'home/sobre'%>
